papermage~=0.16.0
layoutparser
pysbd
smashed
decontext
vila
tiktoken~=0.8.0
requests~=2.31.0
tenacity~=8.2.3
dspy-ai
LanceDB~=0.6.6
langchain_community
langchain_openai
langchain_text_splitters
langchain_community
openai
torch~=2.2.2
transformers~=4.39.3
scikit-learn~=1.4.1.post1
numpy~=1.26.4
matplotlib~=3.8.3
pandas~=2.2.1
scipy~=1.12.0
langchain-text-splitters~=0.0.1
dspy~=2.5.6
sentence-transformers~=2.5.1
datasets~=2.14.7
langchain-community~=0.0.25
langchain-openai~=0.0.8
fuzzywuzzy~=0.18.0
rouge-score~=0.1.2
beautifulsoup4~=4.12.3
bitsandbytes~=0.42.0
captum~=0.7.0
ipython~=8.18.1
setuptools~=68.2.0